body {
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0;
  margin: 0;
  background-color: rgb(243, 237, 237);
}

.hero {
  background-image: url(images/headphones_hero_1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;
}

.header {
  margin-bottom: 350px;
  padding-top: 30px;
}

.logo {
  height: 40px;
}

.header-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img {
  display: flex;
  margin-left: 50px;
}

.list ul {
  display: flex;
  color: white;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-right: 50px;
  cursor: pointer;
}

.list ul li:hover {
  color: red;
}

.section-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-1 h1 {
  margin-bottom: 0px;
  font-size: 41px;
  color: white;
}

.section-1 h2 {
  margin-top: 0px;
  margin-bottom: 40px;
  font-size: 20.5px;
  color: white;
}

.section-1 button {
  background-color: rgb(226, 77, 77);
  color: white;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 115px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.section-1 button:hover {
  opacity: 0.9;
}

.section-1 p {
  width: 650px;
  line-height: 25px;
  font-size: 17px;
  text-align: center;
  color: white;
}

.holberton_school-icon-ic_sound {
  font-size: 50px;
  color: #ff6060;
  margin-bottom: 20px;
}

.holberton_school-icon-ic_video {
  font-size: 50px;
  color: #ff6060;
  margin-bottom: 20px;
}

.holberton_school-icon-ic_music {
  font-size: 50px;
  color: #ff6060;
  margin-bottom: 20px;
}

.holberton_school-icon-ic_hearing {
  font-size: 50px;
  color: #ff6060;
  margin-bottom: 20px;


}

.head-s2 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.head-s2 p {
  width: 700px;
  line-height: 25px;
}


.what-we-do {
  text-align: center;
  padding: 70px 0;
  background-color: white;
}

.what-we-do h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: rgb(1, 1, 70);
  font-weight: 600;
}

.what-we-do h3 {
  color: rgb(1, 1, 70);
}

.what-we-do p {
  margin-bottom: 50px;
  font-size: 18px;
  color: rgb(1, 1, 70);
  text-align: center;
  line-height: 25px;
}



.services {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.service-item {
  width: 200px;
}

.service-item span {
  font-size: 60px;
  display: block;
  margin-bottom: 20px;
}

.service-item h3 {
  margin-bottom: 10px;
  font-size: 15px;
}

.service-item p {
  color: rgb(1, 1, 70);
  font-size: 14px;
}