* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}
img {
    max-width: 100%;
    display: block;
}

header {
        position: absolute;
        width: 100%;
        top: 0;
        padding: 25px 80px;
        display: flex;
        justify-content: space-between;
        z-index: 10;
}
 header nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}
 header nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
 }

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.logo {
    font-size: 32px;
    color: black;
    padding: 8x 14px;
    border-radius: 50%;
    font-weight: bold;
    width: 1103.41;

}
.school_page{
    background-image: url('assets/Object.png');
    background-size: cover;
    height: 1055px;
    position: relative;
    padding-top: 150px;
    text-align: center;   
}  

.school_page h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: FFFFFF;
    text-align: center;
}

 .school_page > div {
    text-align: center;

}
.school_page > div > span {
    font-family: sans-serif;
    font-size: 16;
    font-weight: bold;
    color: FFFFFF;
    margin: 0 15px; 
    letter-spacing: 2px;
}

.school_page button {
    background-color: C271FF;
    color: FFFFFF;
    font-family: sans-serif;
    font-weight: SemiBold;
    font-size: 14px;
    margin-top: 25px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}
.school_page .bottom {
    margin-top: 300px;
    bottom: -80px;
    width: 100%;
}
.school_page .bottom h2 {
    font-weight: Mixed ;
    font-family: sans-serif;
    font-size: 32 ;
    margin-bottom: 40px;
}

.school_page .bottom > div {   
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;    
}
   
.school_page .bottom > div  img {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    object-fit: cover;
    border: 4px solid white;
}

.school_page .bottom p {
    font-style: italic;
    color: FFFFFF;
    opacity: 0.8;
}
.school_page .bottom h3 {
    font-weight: bold;
    color: black;
}

.quote{
    display:flex;
    align-items: center;
    width: 100%;
    height: 392px;
    background-color: C271FF;
    color: FFFFFF;  
    margin-top: 150px;
    padding: 70px 100px;   
    
}

.quote image {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    

}
.quote > blockquote {
    font-size: 22px;
    font-family: sans-serif;
    opacity: 0.8;
    margin: 15px;
}

.quote h3 {
    margin:5px 0:
    font-size: 1.3rem;
}

.quote p {
   margin: 0; 
}
.smiles {
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.smiles h2 {
    color: 071629 C271FF 071629;
    margin-bottom: 30px;
}

.smiles-item {
    width: 250%;
    height: 450px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
.smiles-item {
    width: 100%;
    border-radius: 10px;
}
.smiles h3 {
    color: 071629;
}

.membership h2 {
    text-align: center;
    display: block;
    margin-bottom: 60px;
}

.membership {
    background-color: #071629;
    color: #FFFFFF;
    width: 100%;
    height: 502px;
    padding: 80px 0;
    text-align: center;
}
.membership > div {
    display: inline-block;
    width: 200px;
    margin: 20px;
}
.membership button {
    margin-top: 40px;
    padding: 12px 40px;
    border-radius: 40px;
    border: none;
    background: #b455fc;
    color: white;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.faq {
    padding: 100px 0;
    text-align: center;
}
.faq h2 {
    margin-bottom: 50px;
    font-size: 40px;
    letter-spacing: 2px;
}
.faq > div {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px 120px;
    padding: 0 150px;
}

.faq h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
footer {
    background-color: #071629;
    color: FFFFFF;
    padding: 60px 90px;
    height: 249px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer i {
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;
}