body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}

main {
    display: flex;
    flex-direction: column;
    flex: auto;
}
header {
        padding: 0;
        position: absolute;
        width: 100%;
        top: 0;
        padding-top: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    margin: 0;
    padding-right: 30px;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.logo {
    font-size: 32px;
    color: black;
    padding: 8x 14px;
    border-radius: 50%;
    font-weight: bold;
    width: 1103.41;

}
.school_page{
    background-image: url('assets/Object.png');
    background-size: cover;
    background-position: center center;
    border: 0;
    padding: 0;
    position: relative;
    width:1440px ;
    height: 1055px;
    padding-bottom: 200px;
}  
.school_page h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 120px;
    color: FFFFFF;
    text-align: center;
}
 .school_page > div {
    text-align: center;
}
.school_page > div > span {
    font-family: sans-serif;
    font-size: 16;
    font-weight: bold;
    color: FFFFFF;
    margin: 0 15px; 
}
.school_page button {
    background-color: C271FF;
    color: FFFFFF;
    font-family: sans-serif;
    font-weight: SemiBold;
    font-size: 14;
    display: block;
    margin: 40px auto;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
.school_page .bottom h2 {
    font-weight: Mixed ;
    font-family: sans-serif;
    font-size: 32 ;
    text-align: center;
}
.school_page .bottom > div > div {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    flex-direction: row;
    align-items: flex-start;
}
.school_page .bottom > div > div img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    object-fit: cover;
    text-align: center;
}

.quote {
    display:flex;
    align-items: center;
    width: 1440px;
    height: 392px;
    background-color: C271FF;
    color: FFFFFF;
    position: mixed;  
    gap: 40px;
    padding: 40px;    
}
.quote > blockquote {
    font-size: ;
    line-height: ;
    font-style: ;
    margin: 0 0 15px;
}
.quote h3 {
    margin:5px 0:
    font-size: 1.3rem;
}
.quote p {
   margin: 0; 
}
}
.smiles h2 {
    color: 071629 C271FF 071629;
    text-align: center;
}
.smiles {
    width: 1228px;
    height: 450px;
    position: 106 1572px;
    display: flex;
    flex-direction: row;
    padding: 100px;
    justify-content: center;
}
.smiles h3 {
    color: 071629;
}

.membership h2 {
    text-align: center;
    display: block;
    
    
}
.membership {
    background-color: 071629;
    color: FFFFFF;
    width: 1440px;
    height: 502px;
    padding: 200px;
}
.faq {
    display: flex;
    flex-direction: row;
    padding: 100px;
}
.footer {
    background-color: 071629;
    color: FFFFFF;
    width: 1440px;
    height: 249px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    position: center;
    

}