body {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
}
header {
    background-color: rgba(38, 46, 56, 0.473);
}
main {
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
    background-color: lightslategrey;
}
aside {
    flex: 1;
    overflow-y: auto;
    background-color: rgba(67, 81, 99, 0.473);
}
.logo {
    font-size: 32px;
    color: black;
    padding: 8x 14px;
    border-radius: 50%;
    font-weight: bold;
}

